doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    title Étudiants
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      nav
        a(href="/") Accueil
        a(href="/users") Liste des étudiants

    if toast
      .toast= toast

    main
      block content

    script.
      const toast = document.querySelector('.toast');
      if (toast) {
        setTimeout(() => toast.remove(), 5000);
      }

    footer 
        p © 2024 Mon Application
        p |
        p Réalisé par RETITA ROGER
