extends layout.pug

block content
  h1 Liste des étudiants
  ul
    each student, i in students
      li
        p #{student.name} - #{student.birthFormatted}
        a(href=`/edit/${i}`) Modifier
        form(action=`/delete/${i}` method="POST" style="display:inline")
          button(type="submit") Supprimer
